{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12 col-xl-8">
                    {% for article in articles %}
                    <div class="article-container mb-2">
                        <div class="row no-gutters border flex-md-row p-3 mb-4 shadow-sm">
                            <div class="col-auto d-block">
                                <img class="article-img" src="{{ asset(article.imagePath)}}">
                            </div>
                            <a class=" col px-4 d-flex flex-column article-item" href="{{ path('app_article_show', {slug: article.slug}) }}">
                                <h5 class="mb-2">{{ article.title }}</h5>
                                <div class="d-flex mb-2">
                                    <div class="text-muted align-self-center">
                                        <img class="article-author-img rounded-circle"
                                             src="{{ article.authorAvatarPath }}"> {{ article.author }}</div>
                                    <div class="text-muted align-self-center ml-3"><i class="fas fa-clock size-is-"></i>
                                        {{ article.publishedAt ? article.publishedAt|ago }}</div>
                                </div>
                                <div class="mb-2 d-flex">
                                    <span class="badge badge-primary mr-2"><i class="fas fa-comment"></i> 5</span>
                                    <span class="badge badge-pill badge-secondary mr-2">Html</span>
                                    <span class="badge badge-pill badge-secondary mr-2">Css</span>
                                </div>
                                <div class="mb-2 text-muted">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsu…</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="col-md-12 col-xl-4">
                    <div class="text-center bg-primary text-white py-1 border border-bottom-0">
                        <h4 class="mb-0">Последние комменты</h4>
                    </div>
                    <div class="quotes-container bg-white shadow-sm border border-top-0 pb-2 pt-2 px-5">
                        <div class="border-bottom mb-3">
                            <div class="h4 text-left"># Когда пролил кофе на клавиатуру</div>
                            <p><i class="far fa-comment text-secondary"></i> "Очень жизненно, аж прослезился"
                                <br> — <a href="#">Василий ПиЭйчПи, Программист Ruby</a></p>
                        </div>

                        <div class="border-bottom mb-3">
                            <div class="h4 text-left"># Facebook ест твои данные</div>
                            <p><i class="far fa-comment text-secondary"></i> "Backend'еры плакали, кололись, но продолжали верстать сайт"
                                <br> — <a href="#">Флекс Абсолютович, Верстак от бога</a></p>
                        </div>


                        <div>
                            <div class="h4 text-left"># Что делать, если надо верстать?</div>
                            <p><i class="far fa-comment text-secondary"></i> "Ой, я сайт перепутал"
                                <br> — <a href="#">Барон Сосискин, Дегустатор сосисок</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}