{% extends 'base_content.html.twig' %}

{% block meta %}
    {% if article.keywords %}
        {{ parent() }}
        <meta name="keywords" content="{{ article.keywords }}">
    {% endif %}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/detail.css') }}">
{% endblock %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block show_row %}featured-border no-gutters{% endblock %}

{% block content %}

    <div class="article-detail col-sm-12">
        <div class="col-sm-12 p-2">
            <div class="media d-flex align-content-center">
                <img class="article-detail-image align-self-start mr-3 rounded"
                     src="{{ article.imagePath }}">
                <div class="media-body d-inline-block align-self-center">
                    <h1 class="mb-2">{{ article.title }}</h1>
                    <div class="d-flex mb-2">
                        <div class="text-muted align-self-center">
                            <img class="article-author-img rounded-circle mr-2"
                                 src="{{ article.authorAvatarPath }}">
                            {{ article.author }}
                        </div>
                        <div class="text-muted align-self-center ml-4"><i class="fas fa-clock size-is-"></i>
                            {{ article.publishedAt ?  article.publishedAt|ago : 'неопубликована' }}
                        </div>
                    </div>
                    <div class="mb-2 d-flex">
                        <span class="badge badge-pill badge-secondary mr-2">{{ article.keywords }}</span>
                    </div>
                    <div class="mb-2">
                        <div class="text-muted align-self-center article-detail-arrows"
                             data-id="voteBlock">
                            <span data-id="voteCount">
                                {{ article.voteCount }}
                            </span>
                            <button class="btn btn-success ml-3" data-id="voteButton"
                                    data-href="{{ path('app_article_vote', {slug: article.slug, type:'up'}) }}">
                                <i class="fas fa-arrow-up"></i></button>
                            <button class="btn btn-danger" data-id="voteButton"
                                    data-href="{{ path('app_article_vote', {slug: article.slug, type:'down'}) }}">
                                <i class="fas fa-arrow-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-2 mb-4 article-content">
            {{ article.body|cached_markdown }}
        </div>

        <div class="col-sm-12 mb-4">
            <h3><i class="pr-3 far fa-comment text-secondary"></i>Комментарии ({{ comments|length }})</h3>
            <hr>

            <div class="row mb-4">
                <div class="col-sm-12">
                    <div class="comment-container align-self-start col-sm-6">
                        <div class="form-group">
                            <label>
                                <textarea class="form-control" rows="2"></textarea>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Комментировать</button>
                    </div>
                </div>
            </div>
            {% for name, comment in comments %}
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="media">
                            <img class="align-self-start comment-img rounded-circle"
                                 src="{{ asset('images/profile.png') }}">
                            <div class="media-body align-self-start col-sm-6">
                                <b>{{ name }}</b>
                                <small>11 дней назад</small>
                                <br>
                                <span class="comment"> {{ comment }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/like.js') }}"></script>
{% endblock %}
