{% extends 'base_content.html.twig' %}

{% block title %}Управление статьями{% endblock %}

{% block content_row_class %}{{ parent() }} p-4{% endblock %}
{% block content_col_class %}p-0{% endblock %}

{% block content %}
    <h1>Управление статьями</h1>

    {% include'admin/partial/top_filter.twig' %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Заголовок</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Опубликована</th>
        </tr>
        </thead>
        <tbody>


        {% for article in pagination %}
            <tr>
                <td>
                    <a href="{{ path('app_admin_article_edit', { slug: article.slug, id: article.id }) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td>{{ article.description }}</td>
                <td>{{ article.author.firstName }}</td>
                <td><i class="fas fa-{{ article.isPublished ? 'check' : 'times' }}"></i> </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Нет комментариев</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
