{% extends 'partial/tags_comment_filter.html.twig' %}
{% block admin_title %}Управление Статьями{% endblock %}
{% block admin_table %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Статья</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in pagination %}
            <tr>
                <td><a href="{{ path('app_article_show', {slug: comment.article.slug}) }}">
                        {{ comment.article.title }}</a></td>
                <td>{{ comment.content|u.truncate (40,'...') }}</td>
                <td>{{ comment.authorName }}</td>
                <td>{{ comment.createdAt|ago }} {% if comment.deletedAt %} DELETED {% endif %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Нет коментариев</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
